<div class="content__info-menu info-menu">
    <div class="info-menu__container container">
        <div class="info-menu__body">
            <div class="info-menu__line">
                <div class="info-menu__label">Информация:</div>
                <ul class="info-menu__list">
                    <li><a href="" class="info-menu__link">Бренды</a></li>
                    <li><a href="" class="info-menu__link">Доставка</a></li>
                    <li><a href="" class="info-menu__link">Распродажа</a></li>
                    <li><a href="" class="info-menu__link">Контакты</a></li>
                    <li><a href="" class="info-menu__link">Отзывы</a></li>
                </ul>
            </div>
            <div class="info-menu__line">
                <div class="info-menu__label">Помощь:</div>
                <ul class="info-menu__list">
                    <li><a href="" class="info-menu__link">Как заказать</a></li>
                    <li><a href="" class="info-menu__link">Доставка</a></li>
                    <li><a href="" class="info-menu__link">Оплата</a></li>
                    <li><a href="" class="info-menu__link">Гарантия и сборка</a></li>
                    <li><a href="" class="info-menu__link">Возврат</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>