<div class="content__news news-content">
    <a href="" class="news-content__title side-title">Новости</a>
    <div class="news-content__items">
        <div class="news-content__item">
            <a href="" class="news-content__label">Снижение цен на игровые площадки Jungle
                Gym</a>
            <div class="news-content__body">
                <div class="news-content__data"><span>12</span> авг</div>
                <div class="news-content__text">Уважаемые покупатели! Мы рады сообщить вам о
                    снижении цены с 27 июля на детский игровой комплекс</div>
            </div>
        </div>
        <div class="news-content__item">
            <a href="" class="news-content__label">Поступление батутов Eclipse!</a>
            <div class="news-content__body">
                <div class="news-content__data"><span>12</span> авг</div>
                <div class="news-content__text">Уважаемые покупатели! Мы рады сообщить вам о
                    снижении цены с 27 июля на детский игровой комплекс</div>
            </div>
        </div>
    </div>
</div>