<div class="content__reviews reviews-content">
    <a href="" class="reviews-content__title side-title">Отзывы</a>
    <div class="reviews-content__items">
        <a href="" class="reviews-content__item">
            <div class="reviews-content__header">
                <div class="reviews-content__user">Павел Никифоров</div>
                <time datetime="2015-09-12" class="reviews-content__data">12.09.2015</time>
            </div>
            <blockquote class="reviews-content__body">Ради экономии места в тренажерном зале приобрел
                многофункциональный силовой тренажер Life Gear. За такую небольшую стоимость и с
                такими возможностями, он просто не заменим. </blockquote>
        </a>
        <a href="" class="reviews-content__item">
            <div class="reviews-content__header">
                <div class="reviews-content__user">Степан Николаевич</div>
                <time datatime="2015-09-12" class="reviews-content__data">12.09.2015</time>
            </div>
            <blockquote class="reviews-content__body">Спасибо за прекрасный совет, велосипед всей семье
                понравился и цену за него достойную запросили.</blockquote>
        </a>
    </div>
</div>